<ul><font size = 5 color='Orange'>
Learning Goals</font>
<font color = 'Orange'><li>Understand the structure of a web page.</li>
<li>Understand how to use Beautiful soup to scrape content from web pages.</li>
<li>Feel comfortable storing and manipulating the content in various formats.</li>
<li>Understand how to convert structured format into a Pandas DataFrame.</li>
</font>
</ul>

<font size = 4 color = "green">For this homework your job is to find a web-site from which you will extract the data, we are suggestioning for a local-site like time.mk, sitel.mk, vecer.mk, panacea.mk, reklama5.mk, etc. Accordinly with the choice you've made make a quick summary why did you use especially this web-site and what is the part of interest.</font>

#<font color = 'Orange'>Explain the Web-site that you will be using in this homework.</font>

In the following text-box answer the questions:
<li>What data you will be extracting and why?</li>
<li>Add a screenshot of the web-site that you will be scraping</li>

https://kliknijadi.mk - to scrape information for all restaurants in Macedonia

img removed for size reduction

# <font color='Orange'>Requirements specified for Web Scraping</font>

Import all libraries and modules that you are going to use.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# <font color = 'Orange'> Start the scraping by sending HTTP request</font>

 **Fetch a website's content - send request**

In [3]:
data = requests.get("https://kliknijadi.mk")
data

**Get the response-status code and see:**
<li>If the code starts with a 2, it means the request was successful.

In [4]:
data.status_code

200

# <font color = 'orange'>Parse the HTML with BeautifulSoup</font>

Beautiful Soup is a Python library for pulling data out of HTML and XML files. It works with your favorite parser to provide idiomatic ways of navigating, searching, and modifying the parse tree. It commonly saves programmers hours or days of work.

**Parse using BeautifulSoap**

In [5]:
soup = BeautifulSoup(data.text, "html.parser")

**Print the HTML code that you get**

In [6]:
#soup

# <font color='Orange'>Extracting data</font>

From the printed HTML code search for the data you need for building the dataset, find the classes for groupby option.

**In the following text-box write the attributes you are going to use**

<font color='red'> You need to extract a minimum of four features (lists/columns) from the web site (example: titles, posting time, comments, likes, ...)</font>

`title, category, delivery_price, delivery_time`

**Try to select the first element from your attributes. Find out from the html code what part do you need.**

### Title

In [9]:
title_elements = soup.select(".cbp-l-grid-agency-title")
title_elements[:5]

[<div class="cbp-l-grid-agency-title">BAKING BREAD BURGERS LEPTOKARIJA</div>,
 <div class="cbp-l-grid-agency-title">СКОПСКИ МЕРАК</div>,
 <div class="cbp-l-grid-agency-title">ДУКАТ</div>,
 <div class="cbp-l-grid-agency-title">DOMINO`S PIZZA KARPOS</div>,
 <div class="cbp-l-grid-agency-title">DOMINO`S PIZZA CENTAR</div>]

### Category

In [10]:
category_elements = soup.select(".cbp-l-grid-agency-desc")
category_elements[:5]

[<div class="cbp-l-grid-agency-desc">Американска</div>,
 <div class="cbp-l-grid-agency-desc">Македонска</div>,
 <div class="cbp-l-grid-agency-desc">Македонска</div>,
 <div class="cbp-l-grid-agency-desc">Американска</div>,
 <div class="cbp-l-grid-agency-desc">Американска</div>]

### Delivery price

In [11]:
price_elements = soup.select(".wrap-delivery")
price_elements[:5]

[<div class="wrap-delivery"><img class="dostava-img" src="/Images/mali/dostava.png"> 80 ден.</img></div>,
 <div class="wrap-delivery"><img class="dostava-img" src="/Images/mali/dostava.png"> 80 ден.</img></div>,
 <div class="wrap-delivery"><img class="dostava-img" src="/Images/mali/dostava.png"> 80 ден.</img></div>,
 <div class="wrap-delivery"><img class="dostava-img" src="/Images/mali/dostava.png"> 80 ден.</img></div>,
 <div class="wrap-delivery"><img class="dostava-img" src="/Images/mali/dostava.png"> 80 ден.</img></div>]

### Delivery time

In [12]:
time_elements = soup.select(".wrap-time")
time_elements[:5]

[<div class="wrap-time"><i class="fa fa-clock-o"></i> 30-60 мин.</div>,
 <div class="wrap-time"><i class="fa fa-clock-o"></i> 30-60 мин.</div>,
 <div class="wrap-time"><i class="fa fa-clock-o"></i> 30-60 мин.</div>,
 <div class="wrap-time"><i class="fa fa-clock-o"></i> 30-60 мин.</div>,
 <div class="wrap-time"><i class="fa fa-clock-o"></i> 30-60 мин.</div>]

**Create lists with the extracted data from the html elements that you selected**

In [13]:
titles = [el.text for el in title_elements]
categories = [el.text for el in category_elements]
times = [el.text for el in time_elements]
prices = [el.text for el in price_elements]

**Print all lists that are containing the elements**

In [14]:
#print(titles)
#print(categories)
#print(times)
#print(prices)

**Check if all lists are the same size**

In [ ]:
print(len(titles))
print(len(categories))
print(len(times))
print(len(prices))

228
228
228
228

# <font color='Orange'>Create a Pandas DataFrame</font>

**Create the DataFrame from the lists you get and name your *Columns***

In [ ]:
df = pd.DataFrame(list(zip(titles,categories,times,prices)),columns=['title','category','delivery_time','delivery_price'])
df.head()

                           title     category delivery_time delivery_price
0                   POLLEO SPORT   Протеинска    30-60 мин.        80 ден.
1        OENO Bar Wine Selection      Алкохол    30-60 мин.        80 ден.
2           KAMNIK HUNTERS LODGE  Американска    30-60 мин.        80 ден.
3  КА ГОСТИЛНИЦА - СКАРА НА КИЛО   Македонска    30-60 мин.        80 ден.
4                         МАРЃЕР   Македонска    30-60 мин.        80 ден.

**Print the dataset you obtain**

In [ ]:
df

,title,category,delivery_time,delivery_price
0,POLLEO SPORT,Протеинска,30-60 мин.,80 ден.
1,OENO Bar Wine Selection,Алкохол,30-60 мин.,80 ден.
2,KAMNIK HUNTERS LODGE,Американска,30-60 мин.,80 ден.
3,КА ГОСТИЛНИЦА - СКАРА НА КИЛО,Македонска,30-60 мин.,80 ден.
4,МАРЃЕР,Македонска,30-60 мин.,80 ден.
...,...,...,...,...
223,БРАВИА КУЈНА,Македонска,30-60 мин.,80 ден.
224,ПУЛС РЕСТОРАН - ЖАН МИТРЕВ КЛИНИК РЕСТОРАН,Здрава,30-60 мин.,80 ден.
225,ГОРСКА,,30-60 мин.,200 ден.
226,ГОСТИЛНИЦА 10ка,"Македонска, Американска",30-60 мин.,80 ден.
227,БУКЕТ,Македонска,30-60 мин.,80 ден.

# <font color = 'Green'>Advanced part</font>

<font color = 'orange'>This part is not mandatory and is intended for those who want to expand their knowledge in this field</font>

There are other libraries in Python that can be used to scrape a website. Some examples are Scrapy (https://scrapy.org/) and Selenium (https://selenium-python.readthedocs.io/).

## <font color = 'Green'>Extra task 1: Selenium</font> 
For the extra task you will need to take a look of the Selenium library. Here is a quick intro to this library and what features it has.

Selenium is a robust framework designed to automate tests for Web Applications. It provides a way for the developer to write tests in several popular programming languages such as C#, Java, Python, Ruby, etc. This framework is developed to perform browser automation. Selenium is an excellent choice when you want to deal with Core Javascript-based web Applications and make browser automation with AJAX/PJAX Requests.
 
View these links for more details: 

*   https://selenium-python.readthedocs.io/installation.html
*   https://selenium-python.readthedocs.io/getting-started.html
*   https://pypi.org/project/selenium-requests/
*   https://pypi.org/project/selenium-wire/

Starting code id given below.

<font color ="red"> During the laboratory exercise, will be defined which side and what will need to be extracted using Selenium library</font>

In [15]:
#requirements for colab
# install chromium, its driver, and selenium
!apt update
!apt install chromium-chromedriver
!pip install selenium
# set options to be headless, ..
from selenium import webdriver
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
# open it, go to a website, and get results

The operation couldn’t be completed. Unable to locate a Java Runtime that supports apt.
Please visit http://www.java.com for information on installing Java.

The operation couldn’t be completed. Unable to locate a Java Runtime that supports apt.
Please visit http://www.java.com for information on installing Java.

zsh:1: command not found: pip

ModuleNotFoundError: No module named 'selenium'

In [5]:
from selenium.webdriver.common.by import By

In [4]:
wd = webdriver.Chrome(options=options)
wd.get("https://play.google.com/store/movies?hl=en_US&gl=US")

In [13]:
elements = wd.find_elements(By.CLASS_NAME,"VfPpkd-EScbFb-JIbuQc")
len(elements)

155

In [19]:
links = [el.find_element(By.TAG_NAME, 'a') for el in elements]
urls = [el.get_attribute('href') for el in links]
urls[:3]

['https://play.google.com/store/movies/details/Bullet_Train?id=IE8cncuxU1w.P',
 'https://play.google.com/store/movies/details/Top_Gun_Maverick?id=PnS5p3AmpRE.P',
 'https://play.google.com/store/movies/details/The_Invitation?id=PvjU4vB9lY8.P']

In [63]:
print(len(urls))

155

In [64]:
data = []
for url in urls:
  try:
    wd.get(url)
    title = wd.find_element(By.TAG_NAME, 'h1').find_element(By.TAG_NAME, 'span').get_attribute('innerHTML')
    review_count = wd.find_element(By.CLASS_NAME, "g1rdde").text.split(" ")[0]
    comments_buttons = wd.find_elements(By.CLASS_NAME, "VxpoF")
    if len(comments_buttons) <= 1:
      continue
    wd.execute_script("window.scrollTo(0, 1000)")
    comments_buttons[1].click()
    all_comments = [el.text for el in wd.find_elements(By.CLASS_NAME, "h3YV2d")]
    comments_text = ""
    for comm in all_comments:
      comments_text += " /// " + comm
    movie = {"title":title, "reviews":review_count, "comments": comments_text}
    data.append(movie)
  except:
    continue

In [65]:
import pandas as pd

In [67]:
pd.DataFrame(data)

,title,reviews,comments
0,Bullet Train,58,/// They should punish the people that made t...
1,Top Gun: Maverick,792,/// I had really high expectations but it fel...
2,The Invitation,9,/// So far the best scary movie this year! //...
3,Clerks III,20,/// It is hard to talk about without spoiling...
4,The Retaliators,Tomatometer,
...,...,...,...
124,Slash/Back,Tomatometer,
125,Beyond the Neon,2,"/// It was a good movie overall, the ending w..."
126,Old Man,2,/// Excellent- especially Liana Wright-Mark. ...
127,The Good House,Tomatometer,
128,Speak No Evil,Tomatometer,